/*:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --clr-accent-100: hsl(13, 100%, 96%); /*very pale red*/
    --clr--accent-300: hsl(12%, 88%, 75%); /*pale hover state color*/
    --clr-accent-400: hsl(12, 88%, 59%); /*very bright red*/

    --clr-neutral-100: hsl(233, 12%, 13%); /*very dark blue*/
    --clr-neutral-150: hsl(228, 39%, 23%); /*blue of the logo*/

    --clr-neutral-900: hsl(0, 0%, 96%); /*very light gray*/
    --clr-neutral-950: hsl(0, 0%, 100%); /*White*/

    --clr-primary-400: hsl(227, 12%, 61%); /*dark grayish blue*/

    --ff-primary: "Be Vietnam Pro", sans-serif;
    --ff-body: var(--ff-primary);
    --ff: var(--ff-primary);

    --fw-regular: 300;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-200: 0.875rem; /* main body txt mobile & main nav links desktop */
    --fs-300: 0.9375rem; /* footer links all displays */
    --fs-400: 1rem; /* main body txt desktop & numbered subheads mobile & nav links mobile */
    --fs-500: 1.125rem; /* numbered subheads desktop */
    --fs-550: 2rem; /* h2 type headings on mobile */
    --fs-600: 2.5rem; /* 2nd lgst title mobile */
    --fs-700: 2.875rem; /* 2nd lrgst title desktop */
    --fs-800: 3.125rem; /* main intro title mobile */
    --fs-900: 4rem; /* main intro title desktop */

    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: 16px;
}

body {
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    line-height: 1.75rem;
}

h1,
h2,
h3 {
    color: var(--clr-neutral-150);
    letter-spacing: -1px;
}

.overlay {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 7999;
}

.mobi-nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-900);
    height: 270px;
    max-width: 310px;
    z-index: 8990;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    margin: 5rem auto;
}

.desktop-menu-nav > ul > li > a {
    display: none;
}

.header-button {
    display: none;
}

.nav-links-mob,
.nav-links-mob a {
    text-decoration: none;
    list-style: none;
    color: var(--clr-neutral-100);
    padding: 0.7rem;
    font-weight: var(--fw-bold);
    text-align: center;
}

.footer-content-wrapper,
.cta-content-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.full-container {
    background-image: url("images/bg-tablet-pattern.svg"),
        url("images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: top -54px right -60px, top 550px right -160px;
    background-size: 100% auto, 80% auto;
}
@media screen and (min-width: 645px) {
    .full-container {
        background-size: 86vmin;
    }
}

@media screen and (min-width: 415px) {
    .full-container {
        background-size: 86vmin, 65vmin;
        background-position: top -54px right -60px, top 450px right -210px;
    }
}

@media screen and (min-width: 580px) {
    .full-container {
        background-size: 86vmin, 55vmin;
        background-position: top -54px right -60px, top 450px right -290px;
    }
}

@media screen and (min-width: 800px) {
    .full-container {
        background-size: 76vmin, 45vmin;
        background-position: top -94px right -90px, top 630px right -320px;
    }
}

@media screen and (min-width: 970px) {
    .full-container {
        background-size: 64vmin, 64vmin;
        background-position: top -244px right -150px, top 790px left -400px;
    }
}

.cta-section {
    background-image: url(/images/bg-simplify-section-mobile.svg);
    background-size: 30vmin;
    background-repeat: no-repeat;
    background-position: left top 20px;
}

.page-wrapper {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}

.all-content {
    position: relative;
    overflow: hidden;
}
.main-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.hb-menu-icon {
    margin-top: -0.4rem;
    height: 20px;
    width: 28px;
}

.hb-menu-close {
    z-index: 9999;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.slider {
    display: flex;
}

.slider > * {
    width: 100%;
    flex: 0 0 auto;
    list-style: none;
}

.slider__card {
    background-color: var(--clr-neutral-900);
    width: 350px;
    position: relative;
    margin: 0 auto;
}

.slider__card__img {
    position: absolute;
    top: -34px;
    left: 140px;
}
.slider__card__title {
    font-weight: var(--fw-semi-bold);
    text-align: center;
    padding-top: 3em;
    margin-top: 3em;
}

.slider__card__copy {
    text-align: center;
    padding: 1em 2em 2em 2em;
    margin-bottom: 1em;
}
.footer-col1-wrapper {
    display: flex;
    width: 90%;
    margin: 3em auto 0;
    justify-content: center;
}

.footer__email-input {
    border-radius: 50px;
    border: none;
    padding: 0.3em 1em;
    margin-right: 0.75em;
}

.footer__col {
    display: flex;
}

.footer-site-logo {
    display: flex;
    order: 2;
    margin: -2em auto;
}

.social-links-wrapper {
    margin: 4em auto;
    order: 1;
}

.social-links-wrapper img {
    padding: 0 1em;
    height: 30px;
    width: auto;
    margin-top: 1.5em;
}

.footer__col--center-vert {
    justify-content: center;
}

.nav1-col,
.nav2-col {
    width: 50%;
    display: flex;
    justify-content: center;
}

.site-logo {
    width: 8rem;
}

.footer-site-logo {
    display: flex;
    order: 2;
    margin: -2em auto;
    width: 11em;
}

.nav-links,
.nav-links a {
    color: var(--clr-neutral-900);
    text-decoration: none;
    list-style: none;
}

.nav-links-main a {
    color: var(--clr-neutral-100);
    padding: 0 1rem;
}

img.intro-visuals__img {
    margin: 2.5rem auto;
}

.btn {
    background-color: var(--clr-accent-400);
    border: none;
    border-radius: 50px;
    padding: 0.5em 1.5em;
    color: var(--clr-neutral-900);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
}

.footer__email-button {
    padding: 0.6em 2.7em;
    font-size: 0.7rem;
}

.btn--shadow {
    box-shadow: 0px 18px 6px var(--clr-accent-100);
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
}

.intro-info {
    text-align: center;
}

.intro-info__title {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    line-height: normal;
}

.intro-info__copy {
    color: var(--clr-primary-400);
    font-size: var(--fs-400);
    max-width: 90.5%;
    margin: 0 auto;
    padding: 0.5rem 0 2rem;
}

.main-info-text__copy {
    max-width: 88.5%;
    padding: 0.5rem 0rem 2rem 0rem;
    text-align: center;
    margin: 0 auto 1.5em;
    color: var(--clr-primary-400);
    font-size: var(--fs-200);
}

h2.main-info-text__title {
    font-size: var(--fs-550);
    font-weight: var(--fw-bold);
    margin: 6.5rem auto 0 auto;
    max-width: 93%;
    text-align: center;
}

.main-info-point__num {
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    padding: 0.4rem 1.5rem 0.4rem 1.5rem;
    background-color: var(--clr-accent-400);
}

.main-info-point__title {
    padding: 0.4rem 0 0.4rem 0.8rem;
}

.main-info-point__copy {
    color: var(--clr-primary-400);
    font-size: var(--fs-200);
    padding: 1em 0 3.75em 0;
    /* line-height: 1px; */
    /*line-height: 2em;*/
}

.info-points-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;
}

.info-point-title-wrapper {
    position: relative;
    display: flex;
    background-color: var(--clr-accent-100);
    min-width: 100vw;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: var(--fw-bold);
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 608px;
}

.testimonials-wrapper__title {
    text-align: center;
    font-size: var(--fs-550);
    padding: 0.25em 0 1.75em 0;
    font-weight: var(--fw-bold);
}

.a11y-slider-dots {
    display: flex;
    justify-content: center;
    gap: 0.55em;
    margin-bottom: 4em;
}

.a11y-slider-dots li {
    display: inline-block;
    width: 12px;
    height: 12px;
    padding: 0;
}

.a11y-slider-dots li button {
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    border: 1.5px solid var(--clr-accent-400) !important;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.a11y-slider-dots li button:hover {
    background-color: var(--clr-accent-100);
}

.a11y-slider-dots li button:focus {
    background-color: var(--clr-accent-400);
}

.intro-info__button {
    margin: 0 auto;
}

.cta-section {
    display: flex;
    align-items: center;
    background-color: var(--clr-accent-400);
    min-height: 370px;
    padding-top: 2.25em;
}

.cta-section__title {
    text-align: center;
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-950);
    line-height: 3rem;
    padding: 1em 0.25em;
}

.cta-section__btn {
    display: flex;
    margin: 0 auto 5.75rem auto;
    color: var(--clr-accent-400);
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.bottom-section-wrapper {
    min-height: 540px;
}

.social-links-wrapper {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: var(--clr-neutral-100);
    min-height: 420px;
}

.footer__col {
    display: flex;
    flex-direction: column;
    height: 60px;
}

.footer__col--multi {
    flex-direction: row;
    margin-top: 3em;
}

.copyright-info {
    color: var(--clr-neutral-900);
    margin-top: 13em;
    font-size: 0.7em;
    text-align: center;
}

@media screen and (min-width: 660px) {
    .info-point-title-wrapper {
        min-width: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .page-wrapper,
    .footer-content-wrapper,
    .cta-content-wrapper {
        width: 80%;
        max-width: 1280px;
        margin: 0 auto;
    }

    .hb-menu-icon {
        display: none;
    }

    .desktop-menu-nav > ul > li > a {
        display: flex;
    }

    .nav-links-main {
        justify-content: space-between;
    }

    .header-button {
        display: block;
    }

    .intro-wrapper {
        flex-direction: row-reverse;
        margin-top: 5rem;
    }

    img.intro-visuals__img {
        margin: 0.5rem auto;
    }

    .intro-info {
        text-align: left;
    }

    .info-visuals,
    .info-points-wrapper {
        width: 50%;
    }

    .info-points-wrapper {
        margin-top: 3rem;
        margin-right: -9em;
    }

    .main-info-point__copy {
        width: 79%;
        padding-left: 13%;
        margin: 0.7em 0 2.6em 0;
    }

    .main-info-text__copy,
    .intro-info__copy {
        width: 40%;
        margin-left: 0;
    }

    .intro-info__title {
        max-width: 60%;
    }

    .info-point-title-wrapper {
        background-color: transparent;
    }

    ul li {
        display: inline-block;
    }

    .main-wrapper {
        flex-direction: row;
    }

    .cta-content-wrapper {
        display: flex;
    }

    .cta-section__col1 {
        width: 90%;
    }

    .cta-section__col2 {
        width: 10%;
    }

    .footer-content-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    .footer__col {
        width: 33.33%;
    }
}
